{{block "QuestionBlock" . }}

<div id="questionBlock"
    class="flex flex-col gap-4 dark:text-white max-w-[520px] overflow-y-scroll text-nowrap mx-1 my-2">
    <h2 class="text-3xl" id="questionTitle"> {{.Title}} </h2>
    <div class="flex flex-items gap-1 text-md">

        {{if eq .Difficulty "Easy"}}
        <div class="text-md bg-green-100 text-green-700 px-2 rounded-lg dark:bg-gray-700">
            {{.Difficulty}} </div>
        {{else if eq .Difficulty "Medium"}}
        <div class="text-md bg-amber-100 text-amber-700 px-2 rounded-lg dark:bg-gray-700">
            {{.Difficulty}} </div>
        {{else if eq .Difficulty "Hard"}}
        <div class="text-md bg-red-100 text-red-700 px-2 rounded-lg dark:bg-gray-700">
            {{.Difficulty}} </div>

        {{end}}

        {{ if .AskedInCompanies }}
        <div> | {{.AskedInCompanies}} </div>
        {{end}}
    </div>

    <div class="tracking-normal text-content text-sm text-balance" id="problemDescription">
        {{ .Description}}
    </div>

</div>

{{ end }}