html,
:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.firacode-400 {
    font-family: url('/static/fonts/droid-sans-mono.ttf'), "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div>.CodeMirror-lines {
    font-family: url('/static/fonts/droid-sans-mono.ttf'), 'Fira Code, monospace';
    font-size: 16px;
}